/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* White (Text):         #e4dfda      (text, contrast with dark)
* Black (Primary):      #272727      
* Blue (Secondary):     #2b50aa      (canvas background)
* Cyan (Accent):        #119da4
* Red (Highlights):     #d72638
*/

.bg-info {
    background-color: #272727 !important; /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #2b50aa;            /* Dark green for brand name & nav links for visibility */
    font-family: "Zain", serif;
}

.btn-info {
    color: #e4dfda;            /* Lightest shade for text on info button for contrast */
    background-color: #119da4; /* Light green for button background */
    border-color: #2b50aa;     /* Dark green for button border */
}

.btn-primary {
    color: #e4dfda;            /* Lightest shade for text */
    font-size: 150%;
    background-color: #2b50aa; /* Dark green for primary button background */
    border-color: #119da4;     /* Reddish-brown for border to use as accent */
    border-width: thick;
}

.footer {
    color: #e4dfda;
}

body {
    background-color: #e4dfda; /* Lightest shade for body background to follow the 60% rule */
}